actions:
  mac_install_hostname: sh scripts/mac_install_hostname.sh
  install_tpm: sh scripts/install_tpm.sh
config:
  backup: true
  create: true
  dotpath: dotfiles
  diff_command: colordiff -y --suppress-common-lines {1} {0}
dotfiles:
  f_gitconfig:
    src: gitconfig
    dst: ~/.gitconfig
  f_ideavimrc:
    src: ideavimrc
    dst: ~/.ideavimrc
  f_mac_always:
    src:
    dst:
    actions:
    - mac_install_hostname
    - install_tpm
  f_config.kdl:
    src: config/zellij/config.kdl
    dst: ~/.config/zellij/config.kdl
  f_zshrc:
    src: zshrc
    dst: ~/.zshrc
  f_aliases.zsh:
    src: oh-my-zsh/custom/aliases.zsh
    dst: ~/.oh-my-zsh/custom/aliases.zsh
    chmod: '755'
  f_aliases.wsl.zsh:
    src: oh-my-zsh/custom/aliases.wsl.zsh
    dst: ~/.oh-my-zsh/custom/aliases.wsl.zsh
  f_starship.toml:
    src: config/starship.toml
    dst: ~/.config/starship.toml
  f_gpg-agent.conf:
    src: gnupg/gpg-agent.conf
    dst: ~/.gnupg/gpg-agent.conf
  f_zshrc.mac:
    src: zshrc.mac
    dst: ~/.zshrc.mac
  d_nvim:
    src: config/nvim
    dst: ~/.config/nvim
profiles:
  zbook:
    dotfiles:
    - f_gitconfig
    - f_ideavimrc
    - f_config.kdl
    - f_zshrc
    - f_aliases.zsh
    - f_aliases.wsl.zsh
    - f_gpg-agent.conf
  mac:
    dotfiles:
    - f_mac_always
    - f_gitconfig
    - f_ideavimrc
    - f_config.kdl
    - f_zshrc
    - f_aliases.zsh
    - f_starship.toml
    - f_gpg-agent.conf
    - f_zshrc.mac
    - d_nvim
